.form{
    width:700px;
	padding:46px;
	border-radius:10px;
	margin:auto;
	background-color: rgb(243, 145, 75);
    position: relative;
    font-size:15px;
    text-align: left;
    top: 3mm;
    border: 5px solid;
}
.home{
    color:black;
    border-radius:20px;
    width: 15%;
    font-size: 130%;
    background-color: rgb(236, 167, 222);
    position: relative;
    left: -40%;
    cursor: pointer;
    top: -50px;

}

.titulo{
 font-family: serif;
 position: relative;
 top: -15mm ;
 text-transform: uppercase;
 margin-bottom: -7mm;
 text-align: center;
}

.boton{
    color: black;
    background-color: bisque;
    border-radius: 20px;
    cursor: pointer;
    width: 14%;
    font-size: 20px;
    top:30px;
    position: relative;
    right: -640px;

}
.butonDele{
    border: none;
    border-radius: 3mm;
    background-color: burlywood;

}

.nameOk{
    color: rgb(0, 255, 0);
}
.nameError{
    color: rgb(255, 0, 0);
}

.div{
    position: relative;
    margin-top: 5mm;
    margin-bottom: 5mm;
}

.label{
   font-weight: 600;
   font-family: cursive;
}