.form{
    width:700px;
	padding:46px;
	border-radius:5mm;
	margin:auto;
	background-color: rgba(128, 106, 250, 0.886);
    position: relative;
    font-size:15px;
    text-align: left;
    top: 3mm;
    border: 5px solid;
}
.home{
    color:black;
    border-radius:20px;
    width: 15%;
    font-size: 130%;
    background-color: rgb(236, 167, 222);
    position: relative;
    left: -40%;
    cursor: pointer;
    top: -50px;

}

.titulo{
 font-family: Arial, Helvetica, sans-serif;
 position: relative;
 top: -15mm ;
 text-transform: uppercase;
 margin-bottom: -7mm;
 text-align: center;
 background-color: aqua;
 border-radius: 5mm;
 border: 3px solid;
}

.boton{
    color: black;
    background-color: bisque;
    border-radius: 20px;
    cursor: pointer;
    width: 14%;
    font-size: 20px;
    top:30px;
    position: relative;
    right: -640px;

}
.butonDele{
    cursor: pointer;
    border-radius: 3mm;
    background-color: rgb(249, 1, 1);
    margin-left: 1mm;
    border: 1px solid;
    color: aliceblue;
    font-weight: 500;
}

.nameOk{
    color: rgb(0, 255, 0);
    font-weight: 700;
}
.nameError{
    color: rgb(255, 0, 0);
   background-color: rgba(255, 255, 255, 0.598);
   border-radius: 2mm;
   padding-left: 1mm;
   padding-right: 1mm;
   margin-left: 1mm;
   font-weight: 700;
   padding-bottom: 0.5mm;
}

.div{   
    margin-top: 5mm;
    margin-bottom: 5mm;
}

.label{
   font-weight: 600;
   font-family: cursive;
   font-size: 20px;
}

.text{
    border-radius: 5m;
}