@font-face {
    font-family: letra;
    src: url('../../img/Circus.ttf');
}

.landing{
    background-image: url('../../img/fondo2.avif');
    background-repeat: no-repeat;
   background-position: center, center;
   background-size: cover;
   margin: -8px;
   height:100vh;
   overflow: hidden;
   text-align: center;
}
.texto{
    position: relative;
    font-size: 750%;
    color: rgb(73, 248, 73);
    text-shadow: black 0px 10px 10px;
   
   
}  
.inicio{
    border: none;
    padding: 5px 15px 5px 15px;
    border-radius: 20mm;
    font-size: 400%;
    background-color: rgb(209, 206, 206);
    position: relative ;
    left: -6mm;
    top: 20mm;
    color: rgb(0, 0, 0);
    font-family: letra;
}

.inicio:hover{
    box-shadow: 0px 0px 30px 40px rgb(255, 255, 255);
    cursor: pointer;
    transition: 500ms;
    background-color: rgb(255, 255, 255);
    font-size: 500%;
    border-color: rgb(255, 255, 255);
    color: rgb(170, 255, 0);
}